:root {
    --clr-text: #fffffe;
    --clr-text-dark: #ffffff;
    --clr-background: #252525;
    --clr-back-dark: #121212;
    --clr-back-dark-2: #121212;
    --clr-primary: #505050;
    --clr-black: #000000;
    --clr-discord: #313338;
    --cls-svg: #fffffe;
    --cls-svg-dark: #000000;
}

.darkmode {
    --clr-text: #000000;
    --clr-text-dark: #000000;
    --clr-background: #f1f1f1;
    --clr-back-dark: #e5e5e5;
    --clr-back-dark-2: #121212;
    --clr-primary: #ffffff;
    --clr-black: #ffffff;
    --clr-discord: #ffffff;
    --cls-svg: #000000;
    --cls-svg-dark: #ffffff;
}   

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;  
    padding: 0;
}

body {
    background-color: var(--clr-background);
    /* background-image: url(/Imgs/aesthetic-smoke-dark-desktop-wallpaper.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

html, body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Svg Fill Color */
svg path {
    fill: var(--cls-svg);
}

/* Darkmode Switch */
#theme-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: block;
}

/* Google Font */
.rubik {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* Nav Bar */
li, a, button {
    font-family: "Rubik";
    font-weight: 500;
    font-size: 14px;
    color: var(--clr-text);
    text-decoration: none;
}

.nav-links-r a {
    font-weight: 800;
    font-size: 18px;  
}

button {
    font-family: "Rubik";
    font-weight: 500;
    font-size: 17px;
    color: var(--clr-text);
    text-decoration: none;  
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    background-color: var(--clr-back-dark);
}

.logo {
    cursor: pointer;
}

.nav-links, .nav-links-r, .sidebar {
    list-style: none;
}

.nav-links li, .nav-links-r li, .sidebar li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a, .nav-links-r li a, .sidebar li a {
    transition: all 0.3S ease 0S;
    margin-left: 50px;
}

.nav-links li a:hover, .nav-links-r li a:hover, .sidebar li a:hover {
    color: var(--clr-primary);
}

button {
    padding: 9px 25px;
    background-color: var(--clr-back-dark);
    border: 3px solid var(--clr-text);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3S ease 0S;
}

button:hover {
    background-color: var(--clr-text);
    color: var(--clr-black);
}

.nav-icon {
    display: none;
}

.sidebar {
    display: none;
}

/* Responsive Sidebar */
@media screen and (max-width: 754px) {
    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        z-index: 999;
        background-color: var(--clr-background);
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-decoration: none;
        padding: 10px;
    }

    .sidebar li {
        width: 100%;
        font-size: 20px;
        padding-top: 10%;
    }

    .sidebar a {
        width: 100%;
        font-size: 20px;
    }

    .nav-icon {
        display: flex;
        list-style: none;
    }

    .nav-links, .cta {
        display: none;
    }

    .nav-links-r {
        margin-right: auto;
    }
}

/* Text / Description */
.td {
    color: var(--clr-text);
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 22px;
    padding: 5%;
    flex-direction: column;
}

.td button {
    margin-top: 5%;
    background-color: var(--clr-background);
}

.td button:hover {
    background-color: var(--clr-text);
}

/* Ryvex */
.ryvex {
    color: var(--clr-text);
    background-color: var(--clr-primary);
    display: inline-flex;
    padding-left: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
}

.title {
    flex-direction: column;
    padding-left: 10%;
    width: 550px;
    font-size: 18px;
    font-family: "Rubik";
    font-weight: 350;
}

.title h1 {
    margin-bottom: 10%;
    font-size: 42px;
}

.title button {
    margin-top: 10%;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--clr-primary);
}

.title button:hover {
    background-color: var(--clr-text);
    color: var(--clr-black);
}

.logo {
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px var(--clr-back-dark-2);
}

/* Footer */
footer {
    background-color: var(--clr-back-dark);
    color: var(--clr-text);
    text-align: center;
    padding: 1%;
    font-family: "Rubik";
    position: absolute;
    width: 100%;
    bottom: 100;
}
  
/* Contact Form */
input {
    background-color: var(--clr-background);
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 16px 16px;
    border: 2px solid;
    border-radius: 10px;
    border-color: var(--clr-text);
    color: var(--clr-text);
    display: flex;
    font-weight: bold;
    font-family: "Rubik";
}

/* Text Area */
textarea {
    background-color: var(--clr-background);
    width: 50%;
    margin: auto;
    font-size: 20px;
    padding: 16px 16px;
    border: 2px solid;
    border-radius: 10px;
    border-color: var(--clr-text);
    color: var(--clr-text);
    display: flex;
    font-weight: bold;
    font-family: "Rubik";
    margin-bottom: 5%;
}

/* Input Hover */
input:hover {
    background-color: var(--clr-text);
    color: var(--clr-black);
    transition-duration: 0.4s;
    cursor: pointer;
}

/* Text Area Hover */
textarea:hover {
    background-color: var(--clr-text);
    color: var(--clr-black);
    transition-duration: 0.4s;
    cursor: pointer;
}

/* Input / Text Area Main Screen */
@media screen and (max-width: 1024px) {
    input, textarea {
        width: 80%;
    }
}

form h1 {
    color: var(--clr-text);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5%;
    margin-top: 5%;
    font-family: "Rubik";
}

@media screen and (max-width: 500px) {
    form h1 {
        color: var(--clr-text);
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 10%;
        margin-top: 5%;
        font-family: "Rubik";
    }

    form button {
        margin-top: 7%;
    }
}

form button {
    background-color: var(--clr-background);
    cursor: pointer;
    display: flex;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Rubik";
}

.dc-1 {
    color: var(--clr-text);
    padding: 0px 15%;
    font-family: "Rubik";
}

.dc-1 h3 {
    color: var(--clr-text);
    padding-top: 10%;
    font-size: 28px;
}

.dc-1 p {
    font-size: 18px;
}

/* Responsive Screen */
@media screen and (max-width: 1300px) {
    footer {
        font-size: 16px;
    }
}

@media screen and (max-width: 1100px) {
    footer {
        font-size: 14px;
    }
}

@media screen and (max-width: 1050px) {
    li, a, button {
        font-family: "Rubik";
        font-weight: 500;
        font-size: 12px;
        color: var(--clr-text);
        text-decoration: none;
    }

    .nav-links-r a {
        font-weight: 800;
        font-size: 16px;
    }

    .title {
        flex-direction: column;
        padding-left: 10%;
        width: 500px;
        font-size: 14px;
        font-family: "Rubik";
        font-weight: 350;
    }
    
    .title h1 {
        margin-bottom: 10%;
        font-size: 36px;
    }

    .logo {
        width: 200px;
        height: 200px;
    }

    .td h1 {
        font-size: 36px;
    }
}

@media screen and (max-width: 942px) {
    li, a, button {
        font-family: "Rubik";
        font-weight: 500;
        font-size: 10px;
        color: var(--clr-text);
        text-decoration: none;
    }

    .nav-links-r a {
        font-weight: 800;
        font-size: 14px;
    }
}

@media screen and (max-width: 850px) {
    footer {
        font-size: 12px;
    }
}

@media screen and (max-width: 848px) {
    li, a, button {
        font-family: "Rubik";
        font-weight: 500;
        font-size: 8px;
        color: var(--clr-text);
        text-decoration: none;
    }

    .nav-links-r a {
        font-weight: 800;
        font-size: 12px;
    }

    .title {
        flex-direction: column;
        padding-left: 10%;
        width: 500px;
        font-size: 12px;
        font-family: "Rubik";
        font-weight: 350;
    }
    
    .title h1 {
        margin-bottom: 10%;
        font-size: 26px;
    }
    .td h1 {
        font-size: 28px;
    }
}

@media screen and (max-width: 754px) {
    li, a, button {
        font-family: "Rubik";
        font-weight: 500;
        font-size: 12px;
        color: var(--clr-text);
        align-items: center;
    }

    .nav-links-r a {
        font-weight: 800;
        font-size: 18px;
    }

    .title {
        flex-direction: column;
        font-size: 12px;
        font-family: "Rubik";
        font-weight: 350;
        text-align: center;
        margin-left: -22.5%;
    }
    
    .title h1 {
        margin-bottom: 5%;
        font-size: 24px;
        text-align: center;
        padding-top: 10%;
    }

    .ryvex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 150px;
        height: 150px;
        margin-left: -15%;
    }
}

@media screen and (max-width: 500px) {
    form {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    footer {
        font-size: 10px;
    }
}
